{% include auth.html %}
<ion-card>
    <ion-card-header class="flex_center space_between">
        <ion-card-title class="lang" data-key="blog">Blogs</ion-card-title>
        <ion-buttons>
            <ion-button onclick="gridster()">
            <ion-icon name="grid" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-card-header>
</ion-card>
<div id="grid" class="blog_section">
{% for post in site.blog %}

    <div class="flexGrid">
          <img class="imgBox" src="{{site.baseurl}}{{ post.image }}">
        <div class="blogContent">
            <div class="contentHeader">
                <ion-router-link href="{{site.baseurl}}{{post.url}}"><h2>
                    {{post.title | strip_html | strip | truncate: 15 }}&#x02026;</h2>
                </ion-router-link>
            </div>
            <div class="contentBody">
                <ion-text>{{ post.content | strip_html | strip | truncate: 100 }}&#x02026;</ion-text>
            </div>
            <div class="flex_center space_between"><ion-badge>{{post.tags}}</ion-badge>
            <ion-buttons slot="end">
            <ion-button href="{{site.baseurl}}{{post.url}}" size="small" color="primary" class="lang" data-key="baca">Baca</ion-button>
            </ion-buttons>
          </div>
        </div>
    </div>
{% endfor %}
</div>
