<div id="PopUp" class=popup_container style="display: none;">
    <div class="popup_big">
        <div class="popup_header">
            <ion-label class="title">Disclaimer</ion-label>
        </div>
        <div class="popup_body">
            <p>
                 "Disclaimer: This website is a dummy or fake online store created for testing purposes only. All products, pricing, and information displayed on this website are fictional and should not be taken as real or accurate."
            </p>
        </div>
                    <ion-buttons class="closeBtn">
                        <ion-button id="closeBtn">
                            Understood
                        </ion-button>
                    </ion-buttons>
    </div>
</div>
