
<div class="etalase_product mobile_view">
{% for laris in site.data.produk_terlaris limit:4 %}
<div class="card" pageId="{{laris.ID}}">
    <div class="img_product">
        <img class="lazyimg" src="{{ '/assets/img/placeholder.jpg' | relative_url }}" data-src="{{site.baseurl}}{{ laris.img }}" alt="{{ laris.title }}" />
    </div>
    <div class="detail_product">
        <h1 class="title">{{ laris.title }}</h1>
    <div class="flex_center space_between mb-25">
        <h3>{{ laris.harga }}</h3>
        <ion-buttons class="favorite-btn">
<ion-button href="javascript:;" class="fav_btn" >
    <span id="varian-{{ laris.ID }}" class="like-btn">
    <ion-icon name="bookmark" slot="icon-only"></ion-icon>
    </span>
    </ion-button>
</ion-buttons>
    </div>
{% unless laris.categories == empty %}{% for categori in laris.categories limit:2 %}
        <ion-badge color="warning" href="/category/{{ categori | slugify }}/">
            {{ categori }}</ion-badge>{% endfor %}{% endunless %}
        <div class="btn_rate">
            <div class="star">
                {% if laris.rating_option == '1' %}{% include stars/star1.html %}{% elsif laris.rating_option == '2' %}{% include stars/star2.html %}{% elsif laris.rating_option == '3' %}{% include stars/star3.html %}{% elsif laris.rating_option == '4' %}{% include stars/star4.html %}{% elsif laris.rating_option == '5' %}{% include stars/star5.html %}{% endif %}
                <span>{{laris.rating}}</span>
            </div>
            <ion-button size="small" class="btn_beli lang" data-key="beli" href="{{laris.url}}" color="primary" fill="outline">Beli</ion-button>
        </div>
    </div>
</div>
{% endfor %}
</div>
