<div id="grid" class="blog_section">
{% for blog in site.blog limit:3 %}
    <div class="flexGrid">
          <img class="imgBox" src="{{site.baseurl}}{{ blog.image }}">
        <div class="blogContent">
            <div class="contentHeader">
                <ion-router-link href="{{site.baseurl}}{{blog.url}}"><h2>
                    {{blog.title | strip_html | strip | truncate: 15 }}&#x02026;</h2>
                </ion-router-link>
            </div>
            <div class="contentBody">
                <ion-text>{{ blog.content | strip_html | strip | truncate: 100 }}&#x02026;</ion-text>
            </div>
            <div class="flex_center space_between"><ion-badge>{{blog.tags}}</ion-badge>
            <ion-buttons slot="end">
            <ion-button href="{{site.baseurl}}{{blog.url}}" size="small" color="primary" class="lang" data-key="baca">Baca</ion-button>
            </ion-buttons>
          </div>
        </div>
    </div>
{% endfor %}
</div>
